<!doctype html>
<html>
  <head>
    <title>My Flask App</title>
  </head>
  <body>
    <h1>Welcome to My Flask App</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li id="flash-message">{{ message }}</li>
            {% endfor %}
            </ul>
            <script>
            setTimeout(function() {
                var flash = document.getElementById('flash-message');
                flash.style.display = 'none';
            }, 3000);
            </script>
        {% endif %}
    {% endwith %}

    <form method="POST">
        {{ form.csrf_token }}
        <p>
          {{ form.name.label }} {{ form.name() }}
        </p>
        <p>
          {{ form.description.label }} {{ form.description() }}
        </p>
        <p>{{ form.submit() }}</p>
      </form>
      
  </body>
</html>
